<footer class="text-sm text-center border-t border-gray-300 dark:border-gray-700 {{ if .IsHome }} pt-2 {{ else }} py-6 {{ end }}">
  <p class="markdownify">{{ .Site.Params.copyright | markdownify }}</p>
  <p {{ if not .Site.Params.theme.showAttribute }}style="font-size:0px;"{{ end }}>
    <i>
      <a href="https://imagine.gsfc.nasa.gov/hst_bday/images/september-6-2019-hubble-ultra-deep-field.jpg">
        Sep.06
      </a>
    </i>
    
      1999
    
  </p>
</footer>

<div class="mt-6">
  <script type='text/javascript'
    id='mapmyvisitors'
    src='https://mapmyvisitors.com/map.js?cl=ad9494&w=a&t=tt&d=WmpKPvI5uQbKWRrnjdY1sXwHgAygQLqFUd8CLjZxr7k&co=514343&cmn=ffd64f&cmo=9e9e9e&ct=f2c0c0'>
  </script>
</div>